#topBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f9c22d;
    border-bottom: solid 1px black;
    padding: 20px;
}


#container {
    display: flex;
    justify-content: space-between;
    background-color: #f9c22d;
    border-bottom: solid 1px black;
}

.title {
    padding-top: 60px;
    padding-left: 90px;
    margin-left: 1.5rem;
}



/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*   font-family: 'Spectral', serif;  
font-family: 'Roboto', sans-serif;
*/

.title h1 {
    font-size: 6rem;
    color: #191919;
    margin-bottom: 10px;
    font-family: 'Spectral', serif;
    margin-bottom: 1rem;
}

.title p {
    color: #191919;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.title button {
    background-color: #191919;
    color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    font-size: 1.2rem;
}

.emme {
    color: #191919;
}


.bottoniTopBar {
    padding-right: 90px;

}

.bottoniTopBar a {
    margin: 1rem;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.bottoniTopBar button {
    background-color: #191919;
    color: #ffffff;
    border-radius: 20px;
    padding: 6px;
    width: 100px;

}

.logo {
    padding-left: 100px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;


}


#firstImg {
    border-radius: 100%;
}

.nomiGener img {
    border-radius: 10px;
}


section div img :first-of-type {
    border-radius: 100%;
}


.contenitori {
    display: flex;
    width: 33.333%;
}

.paragrafi {
    display: flex;
    color: #989c98b4;
    font-size: 2rem;
    margin-right: 1rem;
}

.date {
    margin-top: 0.5rem;
    color: #989c98b4;
}

.nomiGener div {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #191919;
}

.in {
    color: #989c98b4;
}

#trending {
    font-size: small;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #191919;
}

#trending span {
    margin-left: 0.6rem;
}

.autori {
    margin-left: 0.6rem;
    color: #191919;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    font-weight: 550;
}

.secondP {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #191919;
    margin-top: 0.4rem;
}

/*   font-family: 'Spectral', serif;  
font-family: 'Roboto', sans-serif;
*/


/*++++++++++++++++++++++++++++++++++++++SCATOLA+++++++++++++++++++++++++++++++++++++*/

#scatola {
    display: flex;

}

.box {
    flex-direction: column;
    width: 55%;
    margin-left: 3rem;
}

.pack {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}



.primoParagrafo {
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #191919;

}

.secondoParagrafo {
    font-family: 'Roboto', sans-serif;
    color: #6b7781;
}

.picture {
    width: 8rem;
    height: 8rem;
}

.secondoParagrafo+div {
    font-family: 'Roboto', sans-serif;
    color: #6b7781;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;

}

.stelline {
    max-width: 1.3rem;
}


.pack a {
    background-color: #f1f3f3;
    width: auto;
    border-radius: 15px;
    height: auto;
    color: #6b7781;
    text-decoration: none;
    padding: 10px;

}

.date {
    display: flex;
    justify-content: space-between;
}






/*--------------------------------ASIDE----------------------------------------------*/


aside h4 {
    margin-bottom: 16px;
}

aside .categories {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

aside .categories .category {
    font-size: 13px;
    line-height: 20px;
    padding: 6px 16px;
    border: 1px solid rgba(230, 230, 230, 1);
    color: rgba(117, 117, 117, 1);
    letter-spacing: 0.25px;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 2px;
}

aside footer {
    padding-top: 24px;
    border-top: 1px solid rgba(230, 230, 230, 1);
}

aside footer ul {
    list-style: none;
}

aside footer ul li {
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 8px;
}

aside footer li a {
    font-size: 14px;
    line-height: 20px;
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
}

/*+++++++++++++++++++++++++++++++++++section+++++++++++++++++++++++++++++++++++++*/